{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">{{ title }}</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="{% url 'home' %}">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="{% url 'firefighter_list' %}">Firefighters</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">{{ title }}</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">{{ title }}</div>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" value="{{ firefighter.name }}" required>
                                </div>
                                <div class="form-group">
                                    <label for="rank">Rank</label>
                                    <input type="text" class="form-control" id="rank" name="rank" value="{{ firefighter.rank }}" required>
                                </div>
                                <div class="form-group">
                                    <label for="experience_level">Experience Level</label>
                                    <input type="text" class="form-control" id="experience_level" name="experience_level" value="{{ firefighter.experience_level }}" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="station">Station</label>
                                    <select class="form-control" id="station" name="station" required>
                                        {% for station in stations %}
                                            <option value="{{ station.id }}" {% if firefighter.station.id == station.id %}selected{% endif %}>{{ station.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="contact_info">Contact Info</label>
                                    <input type="text" class="form-control" id="contact_info" name="contact_info" value="{{ firefighter.contact_info }}">
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <a href="{% url 'firefighter_list' %}" class="btn btn-danger">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}